body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: 6rem 0 2rem;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

input[type=number]{
  margin: 1rem;
}

#button1{
  background-color: #34495e;
  -webkit-box-shadow: 11px 10px 38px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 38px -6px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 38px -6px rgba(0,0,0,0.75);
  opacity: 0.85;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 2px;
  width: 6rem;
  padding: 1rem;
  margin: auto;
}

#button1:hover{
  background-color: #2c3e50;
  -webkit-box-shadow: 11px 10px 38px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 38px -17px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 38px -17px rgba(0,0,0,0.75);
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
